@import url(global.css);

.questioncard {
  box-sizing: border-box;
  position: relative;
  width: 50%;
  background-color: white;
  border-radius: 20px;
  padding: 45px;
  left: 25%;
  text-align: center;
  box-shadow: 6px 7px 9px rgb(0 0 0 / 0.1);
  margin-bottom: 100px;
}

#bookmark {
  display: flex;
  justify-content: end;
  cursor: pointer;
  font-size: 2rem;
  color: #97C1BF;
}

#bookmark-active {
  display: flex;
  justify-content: end;
  cursor: pointer;
  font-size: 2rem;
  color: #97C1BF;
  font-variation-settings:
  'FILL' 100,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.questioncard p {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #497A78;
}

.questioncard button {
  cursor: pointer;
  background-color: #497A78;
  color: white;
  border: none;
  border-radius: 10px;
  margin: 40px 0 0 0;
  padding: 20px 30px;
  font-size: 1.2rem;
}

.questioncard ul {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
  list-style: none;
  padding: 0;
  margin: 60px 0 0 0;
}

.questioncard ul li {
  text-decoration: none;
  padding: 10px;
  background-color: #97C1BF;
  border-radius: 5px;
  cursor: pointer;
}

.profilepage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10vh 0;
}

.picture-and-name {
  display: flex;
  align-self: center;
  gap: 10vh 5vh;
  text-transform: uppercase;
}

.picture-and-name img {
  width: 20vh;
  border-radius: 50%;
  border: solid 0.4rem #497A78;
}

.picture-and-name h2 {
  align-self: center;
}

.about-me {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
  padding: 5vh;
  border-radius: 5vh;
}

.about-me h3 {
  text-transform: uppercase;
}

.about-me p {
  text-align: justify;
}

.settings {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 40%;
  padding: 5vh;
  border-radius: 5vh;
}

.settings h3 {
  text-transform: uppercase;
}

.setting-darkmode {
  display: flex;
  justify-content: space-between;
}

.dark-mode-button span {
  background-color: white;
  border: solid 0.2rem #497A78;
  border-radius: 50%;
  font-variation-settings: var(--icon-filled);
  color: #497A78;
  padding: 0.5rem;
  cursor: pointer;
}

.dark-mode-button span:hover {
  background-color: #497A78;
  color: white;
  cursor: pointer;
}

.dark-mode-button-active {
  background-color: #497A78;
  color: white;
  cursor: pointer;
}